[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "replaceme-blockchain-gui"]
	path = spare-blockchain-gui
	url = https://github.com/zcomputerwiz/replaceme-blockchain-gui
